################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/qStartIS/FileContentIndex/592823cd-e616-45f4-b665-77896bffb273.vsidx
/.vs/qStartIS/FileContentIndex/870a6d07-6630-4c84-97c6-45da070acf63.vsidx
/.vs/qStartIS/FileContentIndex/af78d599-106f-47e1-b20a-6c234ff1c32b.vsidx
/src/Api/obj/Debug/netcoreapp3.1/project.razor.vs.json
/src/IdentityServer/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Google.dll
/src/IdentityServer/obj/Debug/netcoreapp3.1/project.razor.vs.json
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/appsettings.Development.json
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/appsettings.json
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/JavaScriptClient.deps.json
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/JavaScriptClient.dll
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/JavaScriptClient.exe
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/JavaScriptClient.pdb
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/JavaScriptClient.runtimeconfig.dev.json
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/JavaScriptClient.runtimeconfig.json
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/package-lock.json
/src/JavaScriptClient/bin/Debug/netcoreapp3.1/package.json
/src/JavaScriptClient/node_modules/acorn/bin/acorn
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/apphost.exe
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.AssemblyInfo.cs
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.AssemblyInfoInputs.cache
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.assets.cache
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.csproj.BuildWithSkipAnalyzers
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.csproj.CoreCompileInputs.cache
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.csproj.FileListAbsolute.txt
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.dll
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.GeneratedMSBuildEditorConfig.editorconfig
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.genruntimeconfig.cache
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.MvcApplicationPartsAssemblyInfo.cache
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.pdb
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/JavaScriptClient.RazorTargetAssemblyInfo.cache
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/staticwebassets/JavaScriptClient.StaticWebAssets.Manifest.cache
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/staticwebassets/JavaScriptClient.StaticWebAssets.Pack.cache
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.build.JavaScriptClient.props
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildMultiTargeting.JavaScriptClient.props
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildTransitive.JavaScriptClient.props
/src/JavaScriptClient/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.JavaScriptClient.Microsoft.AspNetCore.StaticWebAssets.props
/src/JavaScriptClient/obj/JavaScriptClient.csproj.nuget.dgspec.json
/src/JavaScriptClient/obj/JavaScriptClient.csproj.nuget.g.props
/src/JavaScriptClient/obj/JavaScriptClient.csproj.nuget.g.targets
/src/JavaScriptClient/obj/project.assets.json
/src/JavaScriptClient/obj/project.nuget.cache
/src/MvcClient/bin/Debug/netcoreapp3.1/appsettings.Development.json
/src/MvcClient/bin/Debug/netcoreapp3.1/appsettings.json
/src/MvcClient/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/src/MvcClient/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/src/MvcClient/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/src/MvcClient/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/src/MvcClient/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/src/MvcClient/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/src/MvcClient/bin/Debug/netcoreapp3.1/MvcClient.deps.json
/src/MvcClient/bin/Debug/netcoreapp3.1/MvcClient.dll
/src/MvcClient/bin/Debug/netcoreapp3.1/MvcClient.exe
/src/MvcClient/bin/Debug/netcoreapp3.1/MvcClient.pdb
/src/MvcClient/bin/Debug/netcoreapp3.1/MvcClient.runtimeconfig.dev.json
/src/MvcClient/bin/Debug/netcoreapp3.1/MvcClient.runtimeconfig.json
/src/MvcClient/bin/Debug/netcoreapp3.1/MvcClient.Views.dll
/src/MvcClient/bin/Debug/netcoreapp3.1/MvcClient.Views.pdb
/src/MvcClient/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/src/MvcClient/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/src/MvcClient/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/src/MvcClient/obj/Debug/net7.0/MvcClient.AssemblyInfo.cs
/src/MvcClient/obj/Debug/net7.0/MvcClient.AssemblyInfoInputs.cache
/src/MvcClient/obj/Debug/net7.0/MvcClient.assets.cache
/src/MvcClient/obj/Debug/net7.0/MvcClient.GeneratedMSBuildEditorConfig.editorconfig
/src/MvcClient/obj/Debug/net7.0/MvcClient.GlobalUsings.g.cs
/src/MvcClient/obj/Debug/net7.0/MvcClient.RazorAssemblyInfo.cache
/src/MvcClient/obj/Debug/net7.0/MvcClient.RazorAssemblyInfo.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/Razor/Views/Shared
/src/MvcClient/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/Razor/Views/Shared/json.cshtml.g.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/apphost.exe
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.AssemblyInfo.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.AssemblyInfoInputs.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.assets.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.csproj.AssemblyReference.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.csproj.BuildWithSkipAnalyzers
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.csproj.CopyComplete
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.csproj.CoreCompileInputs.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.csproj.FileListAbsolute.txt
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.dll
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.GeneratedMSBuildEditorConfig.editorconfig
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.genruntimeconfig.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.MvcApplicationPartsAssemblyInfo.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.pdb
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.RazorAssemblyInfo.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.RazorAssemblyInfo.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.RazorCoreGenerate.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.RazorTargetAssemblyInfo.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.RazorTargetAssemblyInfo.cs
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.TagHelpers.input.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.TagHelpers.output.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.Views.dll
/src/MvcClient/obj/Debug/netcoreapp3.1/MvcClient.Views.pdb
/src/MvcClient/obj/Debug/netcoreapp3.1/project.razor.vs.json
/src/MvcClient/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.build.MvcClient.props
/src/MvcClient/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildMultiTargeting.MvcClient.props
/src/MvcClient/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildTransitive.MvcClient.props
/src/MvcClient/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.MvcClient.Microsoft.AspNetCore.StaticWebAssets.props
/src/MvcClient/obj/Debug/netcoreapp3.1/staticwebassets/MvcClient.StaticWebAssets.Manifest.cache
/src/MvcClient/obj/Debug/netcoreapp3.1/staticwebassets/MvcClient.StaticWebAssets.Pack.cache
/.vs/qStartIS/DesignTimeBuild/.dtbcache.v2
/.vs/qStartIS/FileContentIndex/f3b7c26b-28b5-4ebb-a06f-6defc81dd043.vsidx
/.vs/qStartIS/v17/.suo


# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
../vs